.performance {
  /* height: 44vmax; */
}

.performance__video {
  margin-top: -2rem;
}

@media only screen and (max-width: 768px) {
  .performance__video {
    object-fit: cover;
    width: auto;
    height: 120vh;
  }
}
