@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://use.typekit.net/zux4qdk.css');

.artist {
  font-family: 'gunplay', sans-serif;
  margin-top: 8rem;
  font-size: 3rem;
  font-weight: 400;
  color: #2b2b2b;
  padding-left: 6rem;
}

.image-container {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.title.artworkPage {
  font-family: 'Familjen Grotesk', sans-serif;
  padding-left: 6rem;
  font-size: 2rem;
  font-weight: 400;
  color: #2b2b2b;
}

.artist-bio {
  padding: 1rem 6rem;
  line-height: 1.6rem;
  font-size: 1.1rem;
  color: #2b2b2b;
  font-family: 'Familjen Grotesk', sans-serif;
}
.artist-link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
}

.backLink {
  width: 10rem;
  padding-right: 4rem;
  padding-top: 8rem;
}

@media only screen and (max-width: 768px) {
  .image-container {
    width: 50%;
  }
  .title.artworkPage {
    padding-left: 6rem;
    font-size: 1.4rem;
    display: block;
    padding-bottom: 0;
    padding-right: 2rem;
  }

  .artist {
    margin-top: 7rem;
    font-size: 2rem;
    padding-bottom: 0;
  }

  .artist-bio {
    font-size: 1rem;
    padding-bottom: 0;
  }
  .backLink {
    width: 8rem;
    padding-right: 3rem;
    padding-top: 7rem;
  }
}

@media only screen and (max-width: 480px) {
  .image-container {
    width: 60%;
  }
  .artist-link-container {
    justify-content: space-between;
  }
  .artist {
    margin-top: 7rem;
    font-size: 1.5rem;
    padding-left: 4rem;
  }
  .title.artworkPage {
    padding-top: 1rem;
    padding-left: 4rem;
    font-size: 1rem;
  }
  .artist-bio {
    padding: 0.5rem 4rem;
    line-height: 1.3rem;
    font-size: 0.8rem;
  }
  .backLink {
    width: 6rem;
    height: auto;
    padding-right: 2rem;
    padding-top: 7rem;
  }
}
