@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,200;0,300;0,700;1,500;1,700&family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

.exhibit-container {
  background-color: rgba(240, 248, 255, 0.573);
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: fit-content; */
}

h1 {
  font-family: 'Familjen Grotesk', sans-serif;
  /* font-family: 'Saira Stencil One', cursive; */
  padding: 2rem 1.4rem;
  font-size: 1.5rem;
}

.exhibit__desc {
  font-family: 'Familjen Grotesk', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  padding: 2rem 6rem;
  line-height: 1.9rem;
  font-size: 1.1rem;
  color: #2b2b2b;
  margin-top: 3rem;
  text-align: justify;
}
.heading {
  padding-left: 10vw;
}
.title-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.greenWave {
  display: none;
}

@media only screen and (max-width: 768px) {
  .heading {
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-top: 3rem;
  }
  .frameImages {
    display: none;
  }
  .greenWave {
    display: block;
  }
  .title-container {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 480px) {
  .exhibit__desc {
    padding: 2rem 3rem;
    line-height: 1.9rem;
    font-size: 0.9rem;
  }
  .greenWave {
    width: 35%;
  }
  .heading {
    padding-top: 1rem;
    font-size: 1.5rem;
  }
}
