@import url('https://use.typekit.net/zux4qdk.css');
.main {
  position: relative;
  display: flex;
  height: 100vh;
  margin-bottom: 3rem;
  overflow: hidden;
}

.main img {
  object-fit: cover;
}

.sliderContainer {
  position: absolute;
  top: calc(100vh - 270px);
}

.slider {
  position: relative;
  white-space: nowrap;
}

.slider p {
  position: relative;
  margin: 0px;
  color: #990101;
  font-size: 15vw;
  font-weight: 500;
  padding-right: 50px;
  font-family: 'gunplay', sans-serif;
}

.slider p:nth-of-type(2) {
  position: absolute;
  left: 100%;
  top: 0;
}
.mobile__image {
  display: none;
}
@media only screen and (max-width: 768px) {
  .sliderContainer {
    top: calc(100vh - 140px);
  }
}
@media only screen and (max-width: 480px) {
  .main {
    /* height: 57%;
    width: auto; */
    /* left: 0;*/
    /* top: 100vh; */
  }
  .exhibition__image {
    top: 3rem;
    height: 57%;
    width: auto;
  }
}
