@font-face {
  font-family: sprayFont;
  src: url('/Spray-Letters.otf');
}
@font-face {
  font-family: shablon;
  src: url('/shablon.ttf');
}
@font-face {
  font-family: body;
  src: url('/body.ttf');
}

.footer {
  /* padding: 0; */
  position: relative;
  /* bottom: 0; */
  /* left: 0; */
  width: 100%;
  /* height: 60px; */
  filter: contrast(170%) brightness(100%);
  background: linear-gradient(0deg, rgba(0, 71, 67, 1), rgba(0, 0, 0, 0)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  /* margin-top: 4rem; */
  top: auto;
  /* bottom: 29vh; */
}

.footer-container {
  display: flex;
  flex-direction: row;
}

.footer-list {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.footer-list.sponsors {
  flex-wrap: wrap;
  width: 40rem;
  padding: 1rem;
  gap: 2rem;
  align-items: center;
}

.socialMedia {
  width: 5rem;
  align-items: center;
  padding-left: 32px;
}

.footer-list li {
  /* padding-right: 1rem; */
  flex: 1;
}

.footer-list-logo {
  width: 6rem;
  height: auto;
}

.abf {
  width: 4rem;
}

.gtb {
  width: 8rem;
}

.vg {
  width: 8rem;
}

.footer-left {
  border-right: 1px #ebe8e8;
  margin-top: 1rem;
  flex: 1;
  /* display: none; */
}
.footer-right {
  flex: 1;
  /* background-color: red; */
}

.title {
  padding: 1rem 2rem 0rem;
  font-family: sprayFont;
  font-size: 1.2rem;
}

.footer-copyright {
  padding: 1rem 2rem 2rem;
  font-family: sans-serif;
  font-size: 0.6rem;
}

@media only screen and (max-width: 768px) {
  .title {
    padding: 0.8rem;
    font-family: sprayFont;
    font-size: 0.9rem;
    display: none;
  }
  .footer-left {
    margin-top: 0.6rem;
    border: none;
  }
  .footer-copyright {
    font-size: 0.6rem;
  }
}
