/* @import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,200;0,300;0,700;1,500;1,700&family=Saira+Stencil+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 1.5rem 0.5rem;
  background-color: rgba(253, 253, 253, 0.83);
  box-shadow: 0 1px 5px #0000001a;
  align-items: center;
}
.nav-left {
  padding: 0;
  margin: 0;
}

.nav-logo {
  text-decoration: none;
  width: 1rem;
}
.nav-logo__img {
  width: 9rem;
  height: auto;
}
.nav-logo p {
  padding: 0;
  margin: 0;
}

.nav-right.nav--close {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-element {
  /* font-family: 'Inter', sans-serif; */
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  color: #2b2b2b;
  padding: 0.4rem 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  /* margin-top: -2.2rem; */
  /* padding-bottom: 1.7rem; */
}

.nav-element.active {
  color: #990101;
  /* display: flex;
  flex-direction: column;
  height: 3rem;
  /* align-content: center; */
  /* align-items: center;
  justify-content: flex-start;
  margin-top: -1rem;  */
  /* border-bottom: solid 2px; */
  /* border-image-source: url(/line.png); */
  /* border-image-width: 0px 200px 60px 0px; */
  /* border-image-repeat: stretch; */
}

.line {
  display: none;
}

.nav-element.active .line {
  /* display: inline-block; */
  width: 6rem;
  height: auto;
  margin-top: -0.25rem;
}
.tagLine {
  margin-top: 0;
  margin-bottom: 0;
}

/* --------------------hamburger menu------------------ */
.logo {
  padding: 1.7rem;
}

.menu__list__text {
  display: flex;
}

.menu__list__text {
  color: #404142;
  font-size: 0.95rem;
}

.menu__list__text li {
  padding-bottom: 0.2rem;
}

@media only screen and (max-width: 768px) {
  .menu__list__text {
    /* display: flex; */
    flex-direction: column;
    margin-top: 3rem;
  }
  .menu.nav {
    padding: 6rem 1.7rem;
  }
  .hamburgerMenu {
    position: fixed;
    /* top: 2rem; */
    right: 2rem;
    cursor: pointer;
  }
  .bar {
    height: 4px;
    width: 40px;
    background-color: #fafafc;
    margin: 5px 0;
    opacity: 0.9;
    border-radius: 2rem;
  }
  .hamburgerMenu.nav--open.bar {
    background-color: #404142;
  }
  .navbar.nav--open {
    background-color: #404142;
    height: 100%;
  }
  .navbar.nav--close {
    background-color: #fff;
  }
  .menu {
    padding: 0;
  }
  .navbar {
    position: fixed;
    /* height: 100%; */
    width: 100%;
  }
  /* closed menu */
  .navbar.nav--close .menu {
    display: none;
  }
  .navbar.nav--close .logo {
    width: 60%;
  }
  .navbar.nav--close .logo--black {
    margin: 0;
    display: block;
  }
  .navbar.nav--close .logo--white {
    display: none;
  }
  .navbar.nav--close .bar {
    background-color: #404142;
  }
  .navbar.nav--open .bar {
    background-color: #404142;
  }
  .navbar.nav--open .nav-logo__img {
    display: none;
  }

  /* open menu */

  .menu__list__text Link {
    color: #fafafc;
  }
  .menu__list__text Link,
  .menu__about {
    display: flex;
    justify-content: center;
    padding: 0.7rem;
  }
  .logo--black {
    display: none;
  }
  .logo--white {
    display: block;
    width: 20%;
    margin: 2rem auto;
  }
  .menu__list__text Link:hover,
  .menu__about:hover {
    color: #404142;
    font-size: 1.2rem;
    border: solid #fafafc 1px;
    /* border-radius: 1rem; */
    background-color: #fafafc;
  }
  .nav-container.nav--open {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* padding: 0.5rem 1.5rem 0.5rem; */
    background-color: rgba(253, 253, 253);
    box-shadow: 0 1px 5px #0000001a;
    align-items: center;
    height: 40%;
    padding: 0;
    padding-top: 1rem;
  }
}

/* @media only screen and (max-width: 768px) {
  .nav-logo {
    font-size: 1.5rem;
  }

  .nav-element {
    padding: 0.5rem 0.8rem;
    font-size: 1.2rem;
  }

  .nav-right {
    margin-top: 1.2rem;
  }

  .nav-container {
    padding: 1.3rem 1.3rem;
  }
}

@media only screen and (max-width: 600px) {
  .nav-logo {
    font-size: 1.1rem;
  }

  .nav-right {
    margin-top: 1.2rem;
    display: none;
  }
} */
