/* @import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,200;0,300;0,700;1,500;1,700&family=Saira+Stencil+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1.5rem 0.5rem;
  background-color: rgba(253, 253, 253, 0.83);
  box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
}
.nav-left {
  padding: 0;
  margin: 0;
}

.nav-logo {
  text-decoration: none;
  width: 1rem;
}
.nav-logo__img {
  width: 9rem;
  height: auto;
}
.nav-logo p {
  padding: 0;
  margin: 0;
}

.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-element {
  /* font-family: 'Inter', sans-serif; */
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  color: #2b2b2b;
  padding: 0.4rem 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  margin-top: -2.2rem;
  padding-bottom: 1.7rem;
}

.nav-element.active {
  color: #990101;
  /* display: flex;
  flex-direction: column;
  height: 3rem;
  /* align-content: center; */
  /* align-items: center;
  justify-content: flex-start;
  margin-top: -1rem;  */
  /* border-bottom: solid 2px; */
  border-image-source: url(/line.png);
  border-image-width: 0px 200px 60px 0px;
  /* border-image-repeat: stretch; */
}

.line {
  display: none;
}

.nav-element.active .line {
  /* display: inline-block; */
  width: 6rem;
  height: auto;
  margin-top: -0.25rem;
}
.tagLine {
  margin-top: 0;
  margin-bottom: 0;
}
@media only screen and (max-width: 768px) {
  .nav-logo {
    font-size: 1.5rem;
  }

  .nav-element {
    padding: 0.5rem 0.8rem;
    font-size: 1.2rem;
  }

  .nav-right {
    margin-top: 1.2rem;
  }

  .nav-container {
    padding: 1.3rem 1.3rem;
  }
}

@media only screen and (max-width: 600px) {
  .nav-logo {
    font-size: 1.1rem;
  }

  .nav-right {
    margin-top: 1.2rem;
    display: none;
  }
}
