body {
  padding: 0;
  margin: 0;
}
main {
  padding: 0;
  margin: 0;
  position: relative;
}

.background-image {
  width: 100vw;
  height: 100vh;
  background-image: url('/bg.jpg');
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  color: #9aa1a7;
  overflow: auto;
}
