@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

.home {
  display: flex;
  flex-direction: column;
  color: #fdfdfd;
}
.container {
  font-family: 'Familjen Grotesk', sans-serif;
  // font-family: 'Nunito Sans', sans-serif;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  // background-color: #000000;
  align-items: center;
  margin-top: 6rem;
}

.container p {
  width: 80%;
  // margin-top: 4rem;
  padding: 1rem 2.5rem;
  line-height: 2.5rem;
  font-size: 1.5rem;
  text-align: justify;
  color: #2b2b2b;
  font-family: 'Familjen Grotesk', sans-serif;
}

.home__welcome {
  margin-top: 14rem;
}
.home__performance {
  font-family: 'Familjen Grotesk', sans-serif;
  color: #2b2b2b;
  flex: 2;
}

.home__performance__text {
  font-family: 'Familjen Grotesk', sans-serif;
  color: #2b2b2b;
  flex: 2;
}

.home__performance__video {
  flex: 1;
}
// .home__slogan {
//   // background-color: #fdfdfd;
//   height: 100vh;
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }
.home__carousel--infinite {
  // background-color: #fdfdfd;
  height: 35vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
.home__slogan h3 {
  margin-top: -5rem;
  margin-right: auto;
  margin-left: auto;
  width: 65%;
  padding: 0;
  font-size: 2.5rem;
  font-family: 'Oswald', sans-serif;
  color: #2b2b2b;
  text-align: center;
  position: absolute;
  z-index: 10;
}
.home__slogan__div {
  margin-right: auto;
  margin-left: auto;
  width: 55%;
}
.home__slogan__div__Image {
  position: absolute;
  /* top: 1rem; */
  margin-left: 0;
  margin-right: 0;
  width: 80%;
  height: auto;
  z-index: 0;
}
.home__welcome__text {
  flex: 1;
}
.home__welcome__carouselContainer {
  flex: 3;
  display: contents;
  color: #2b2b2b;
}
.home__carousel {
  right: auto;
  left: auto;
}
.carousel-root {
  outline: none;
  width: 40%;
  height: auto;
}

// ----------------------responsiveness---------------------//
@media only screen and (max-width: 768px) {
  .video__container {
    margin-top: -10rem;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .video__container video {
    object-fit: contain;
  }
  .container {
    flex-direction: column;
    margin-top: 0;
  }
  .home__welcome .container {
    padding: 0;
  }
  .container p {
    padding: 1rem 5.5rem;
    line-height: 2.2rem;
    font-size: 1.2rem;
  }
  .carousel-root {
    width: 64%;
  }
  .home__performance {
    flex-direction: column-reverse;
  }
  .home__performance__video {
    display: flex;
    justify-content: center;
  }
  .home__performance__video video {
    width: 60%;
    object-fit: contain;
    height: auto;
  }
}
@media only screen and (max-width: 480px) {
  .video__container {
    margin-top: -12rem;
  }
  .home__welcome .container {
    padding: 0;
  }
  .home__welcome__text {
    margin-top: -13rem;
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home__welcome__text p {
    padding: 0;
  }
  .carousel-root {
    width: 94%;
  }
  .home__performance__video video {
    width: 90%;
    height: auto;
    object-fit: contain;
  }
}

/* --------------------------------locomotive-------------------------- */
/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
// html.has-scroll-smooth {
//   overflow: hidden;
// }

// html.has-scroll-dragging {
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }

// .has-scroll-smooth body {
//   overflow: hidden;
// }

// .has-scroll-smooth [data-scroll-container] {
//   min-height: 100vh;
// }

// [data-scroll-direction='horizontal'] [data-scroll-container] {
//   height: 100vh;
//   display: inline-block;
//   white-space: nowrap;
// }

// [data-scroll-direction='horizontal'] [data-scroll-section] {
//   display: inline-block;
//   vertical-align: top;
//   white-space: nowrap;
//   height: 100%;
// }

// .c-scrollbar {
//   position: absolute;
//   right: 0;
//   top: 0;
//   width: 11px;
//   height: 100%;
//   transform-origin: center right;
//   transition: transform 0.3s, opacity 0.3s;
//   opacity: 0;
// }
// .c-scrollbar:hover {
//   transform: scaleX(1.45);
// }
// .c-scrollbar:hover,
// .has-scroll-scrolling .c-scrollbar,
// .has-scroll-dragging .c-scrollbar {
//   opacity: 1;
// }
// [data-scroll-direction='horizontal'] .c-scrollbar {
//   width: 100%;
//   height: 10px;
//   top: auto;
//   bottom: 0;
//   transform: scaleY(1);
// }
// [data-scroll-direction='horizontal'] .c-scrollbar:hover {
//   transform: scaleY(1.3);
// }

// .c-scrollbar_thumb {
//   position: absolute;
//   top: 0;
//   right: 0;
//   background-color: black;
//   opacity: 0.5;
//   width: 7px;
//   border-radius: 10px;
//   margin: 2px;
//   cursor: -webkit-grab;
//   cursor: grab;
// }
// .has-scroll-dragging .c-scrollbar_thumb {
//   cursor: -webkit-grabbing;
//   cursor: grabbing;
// }
// [data-scroll-direction='horizontal'] .c-scrollbar_thumb {
//   right: auto;
//   bottom: 0;
// }

// curtain effect
// :root {
//   --minh: 98vh;
//   --color1: #2d2d2d;
//   --color2: #fdfdfd;
// }

// .curtain {
//   /** create the "split" background **/
//   background-image: linear-gradient(
//     to bottom,
//     var(--color2) 50%,
//     var(--color1) 50%
//   );
// }

// /** add extra space to the bottom (need this for the "sticky" effect) **/
// .curtain::after {
//   content: '';
//   display: block;
//   min-height: var(--minh);
// }

// .invert {
//   /** make the content sticky **/
//   position: sticky;
//   top: 20px;

//   /** blend the content with the contrast effect **/
//   mix-blend-mode: difference;

//   /** center the content **/
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   /** set the minimum height of the section **/
//   min-height: var(--minh);
// }
