@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://use.typekit.net/zux4qdk.css');
.home {
  display: flex;
  flex-direction: column;
  color: #fdfdfd;
  align-items: center;
}
.container {
  font-family: 'Familjen Grotesk', sans-serif;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container p {
  width: 80%;
  padding: 1rem 2.5rem;
  line-height: 2.5rem;
  font-size: 1.5rem;
  // text-align: justify;
  color: #2b2b2b;
  font-family: 'Familjen Grotesk', sans-serif;
}

.home__welcome {
  background-image: url(/arrow/arrow--right.png);
  background-repeat: no-repeat;
  background-size: 16%;
  background-position: center;
  background-position-y: bottom;
}

.home__performance {
  font-family: 'Familjen Grotesk', sans-serif;
  flex: 2;
  flex-direction: column;
  align-items: self-start;
  position: relative;
}

.home__performance__textVideo {
  position: relative;
  width: 100%;
}

.home__performance__video {
  flex: 1;
  display: contents;
  position: relative;
}

.home__h1 {
  font-family: 'gunplay', sans-serif;
  font-size: 3vw;
  font-weight: 400;
  color: #2b2b2b;
}
.home__performance__text {
  display: none;
}
.home__performance__text p {
  font-family: 'gunplay', sans-serif;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fafafa;
  color: #fafafa;
  text-align: center;
  line-height: 3.6rem;
  font-weight: 200;
  font-size: 3rem;
}

.home__performance__textVideo:hover {
  cursor: pointer;
  scale: 1.05;
}
.home__performance__video:hover video {
  filter: blur(0.3px) grayscale(1) brightness(0.4);
}
.home__performance__textVideo:hover .home__performance__text {
  display: flex;
  flex-direction: row;
  padding: 0rem 7rem;
  top: 8vw;
  position: absolute;
  justify-content: center;
}
.home__exhibition.container {
  flex-direction: column;
  align-items: baseline;
  background-image: url(/arrow/x--red.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 30%;
}
.home__carousel--infinite {
  height: 35vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.home__welcome__text {
  flex: 1;
}
.home__welcome__carouselContainer {
  flex: 3;
  display: contents;
  color: #2b2b2b;
}
.home__carousel {
  right: auto;
  left: auto;
}
.carousel-root {
  outline: none;
  width: 40%;
  height: auto;
}

// ----------------------responsiveness---------------------//
@media only screen and (max-width: 768px) {
  .video__container {
    margin-top: 3rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .video__container video {
    object-fit: cover;
    width: auto;
    height: 100vh;
  }
  .container {
    flex-direction: column;
    margin-top: 0;
  }
  .home__welcome.container {
    padding: 0;
  }
  .container p {
    padding: 1rem 0.5rem;
    line-height: 2.2rem;
    font-size: 1.2rem;
  }
  .carousel-root {
    width: 64%;
  }
  .home__performance {
    flex-direction: column;
    align-items: center;
  }
  .home__performance__video {
    display: flex;
    justify-content: center;
  }
  .home__performance__textVideo:hover .home__performance__text {
    padding: 0rem 6rem;
    top: 2vw;
  }
  .home__performance__video video {
    object-fit: cover;
    width: 100%;
    height: 80%;
    // margin-top: 15rem;
  }
  .home__exhibition.container {
    align-items: center;
  }
  .home__performance__text p {
    line-height: 2rem;
    font-size: 1.2rem;
    -webkit-text-fill-color: #fafafa;
    -webkit-text-stroke: 0px;
  }
  .home__welcome__text {
    flex: 1;
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 480px) {
  .home {
    overflow-x: hidden;
  }
  .container.video__container {
  }
  .video__container video {
    object-fit: cover;
    width: auto;
    height: 65vh;
  }
  .home__welcome.container {
    padding: 0;
    background-image: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .home__welcome__text {
    margin-bottom: 1rem;
  }

  .container p {
    padding: 0;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.8rem;
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home__welcome__text p {
    padding: 0;
  }
  .carousel-root {
    // width: 120%;
    height: auto;
    margin-bottom: 2rem;
  }
  .home__performance__video {
    width: 100%;
    padding: 0;
  }
  .home__performance__video video {
    width: 140%;
    height: auto;
    object-fit: contain;
    margin-top: 1rem;
  }
  .home__h1 {
    font-size: 5vw;
    margin: 0.1rem 0rem;
    padding: 0rem 2rem;
  }
  .home__performance {
    background-image: url(/arrow/arrow--red.png);
    background-size: 18%;
    background-repeat: no-repeat;
    // background-size: 30%;
    background-position-x: 90%;
    background-position-y: 15%;
  }
  .home__performance__textVideo:hover .home__performance__text {
    display: none;
  }
  .home__performance__text {
    display: none;
  }
  .home__carousel--infinite {
    height: 23vh;
    width: 100%;
  }
  .home__exhibition.container {
    background-image: none;
  }
  .home__performance__video:hover video {
    filter: blur(0) grayscale(0) brightness(1);
  }
}
