@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://use.typekit.net/zux4qdk.css');
.home {
  display: flex;
  flex-direction: column;
  color: #fdfdfd;
}
.container {
  font-family: 'Familjen Grotesk', sans-serif;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 6rem;
}

.container p {
  width: 80%;
  padding: 1rem 2.5rem;
  line-height: 2.5rem;
  font-size: 1.5rem;
  // text-align: justify;
  color: #2b2b2b;
  font-family: 'Familjen Grotesk', sans-serif;
}

.home__welcome {
  background-image: url(/arrow/arrow--right.png);
  background-repeat: no-repeat;
  background-size: 16%;
  background-position: center;
  background-position-y: bottom;
}

.home__performance {
  font-family: 'Familjen Grotesk', sans-serif;
  flex: 2;
  flex-direction: column;
  align-items: self-start;
  position: relative;
}

.home__performance__textVideo {
  position: relative;
  width: 100%;
}

.home__performance__video {
  flex: 1;
  display: contents;
  position: relative;
}

.home__h1 {
  font-family: 'gunplay', sans-serif;
  font-size: 3vw;
  font-weight: 400;
  color: #2b2b2b;
}
.home__performance__text {
  display: none;
}
.home__performance__text p {
  font-family: 'gunplay', sans-serif;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fafafa;
  color: #fafafa;
  text-align: center;
  line-height: 3.6rem;
  font-weight: 200;
  font-size: 3rem;
}

.home__performance__textVideo:hover {
  cursor: pointer;
  scale: 1.05;
}
.home__performance__video:hover video {
  filter: blur(0.3px) grayscale(1) brightness(0.4);
}
.home__performance__textVideo:hover .home__performance__text {
  display: flex;
  flex-direction: row;
  padding: 0rem 7rem;
  top: 8vw;
  position: absolute;
  justify-content: center;
}
.home__exhibition.container {
  flex-direction: column;
  align-items: baseline;
  background-image: url(/arrow/x--red.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 30%;
}
.home__carousel--infinite {
  height: 35vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.home__welcome__text {
  flex: 1;
}
.home__welcome__carouselContainer {
  flex: 3;
  display: contents;
  color: #2b2b2b;
}
.home__carousel {
  right: auto;
  left: auto;
}
.carousel-root {
  outline: none;
  width: 40%;
  height: auto;
}

// ----------------------responsiveness---------------------//
@media only screen and (max-width: 768px) {
  .video__container {
    margin-top: -10rem;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .video__container video {
    object-fit: contain;
  }
  .container {
    flex-direction: column;
    margin-top: 0;
  }
  .home__welcome.container {
    padding: 0;
  }
  .container p {
    padding: 1rem 5.5rem;
    line-height: 2.2rem;
    font-size: 1.2rem;
  }
  .carousel-root {
    width: 64%;
  }
  .home__performance {
    flex-direction: column;
    align-items: center;
  }
  .home__performance__video {
    display: flex;
    justify-content: center;
  }
  .home__performance__textVideo:hover .home__performance__text {
    padding: 0rem 6rem;
    top: 2vw;
  }
  .home__performance__video video {
    object-fit: cover;
    width: 100%;
    height: 80%;
    margin-top: 15rem;
  }
  .home__exhibition.container {
    align-items: center;
  }
  .home__performance__text p {
    line-height: 2rem;
    font-size: 1.2rem;
    -webkit-text-fill-color: #fafafa;
    -webkit-text-stroke: 0px;
  }
}
@media only screen and (max-width: 480px) {
  .home {
    overflow-x: hidden;
  }
  .container.video__container {
    margin-top: -12rem;
  }
  .video__container video {
    object-fit: cover;
    width: auto;
    height: 70%;
    margin-top: 11rem;
  }
  .home__welcome.container {
    padding: 0;
    margin-top: 8rem;
    background-image: none;
  }
  .home__welcome__text {
    margin-top: -13rem;
  }
  .container p {
    padding: 0;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.8rem;
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home__welcome__text p {
    padding: 0;
  }
  .carousel-root {
    width: 120%;
    height: auto;
    margin-bottom: 2rem;
  }
  .home__performance__video {
    width: 100%;
    padding: 0;
  }
  .home__performance__video video {
    width: 140%;
    height: auto;
    object-fit: contain;
    margin-top: 1rem;
  }
  .home__h1 {
    font-size: 5vw;
    margin: 0.1rem 0rem;
    padding: 0rem 2rem;
  }
  .home__performance {
    background-image: url(/arrow/arrow--red.png);
    background-repeat: repeat;
    // background-size: 30%;
    background-position-x: -20%;
    background-position-y: 50%;
  }
  .home__performance__textVideo:hover .home__performance__text {
    display: none;
  }
  .home__performance__text {
    display: none;
  }
  .home__carousel--infinite {
    height: 23vh;
  }
  .home__exhibition.container {
    background-image: none;
  }
  .home__performance__video:hover video {
    filter: blur(0) grayscale(0) brightness(1);
  }
}

/* --------------------------------locomotive-------------------------- */
/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
// html.has-scroll-smooth {
//   overflow: hidden;
// }

// html.has-scroll-dragging {
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }

// .has-scroll-smooth body {
//   overflow: hidden;
// }

// .has-scroll-smooth [data-scroll-container] {
//   min-height: 100vh;
// }

// [data-scroll-direction='horizontal'] [data-scroll-container] {
//   height: 100vh;
//   display: inline-block;
//   white-space: nowrap;
// }

// [data-scroll-direction='horizontal'] [data-scroll-section] {
//   display: inline-block;
//   vertical-align: top;
//   white-space: nowrap;
//   height: 100%;
// }

// .c-scrollbar {
//   position: absolute;
//   right: 0;
//   top: 0;
//   width: 11px;
//   height: 100%;
//   transform-origin: center right;
//   transition: transform 0.3s, opacity 0.3s;
//   opacity: 0;
// }
// .c-scrollbar:hover {
//   transform: scaleX(1.45);
// }
// .c-scrollbar:hover,
// .has-scroll-scrolling .c-scrollbar,
// .has-scroll-dragging .c-scrollbar {
//   opacity: 1;
// }
// [data-scroll-direction='horizontal'] .c-scrollbar {
//   width: 100%;
//   height: 10px;
//   top: auto;
//   bottom: 0;
//   transform: scaleY(1);
// }
// [data-scroll-direction='horizontal'] .c-scrollbar:hover {
//   transform: scaleY(1.3);
// }

// .c-scrollbar_thumb {
//   position: absolute;
//   top: 0;
//   right: 0;
//   background-color: black;
//   opacity: 0.5;
//   width: 7px;
//   border-radius: 10px;
//   margin: 2px;
//   cursor: -webkit-grab;
//   cursor: grab;
// }
// .has-scroll-dragging .c-scrollbar_thumb {
//   cursor: -webkit-grabbing;
//   cursor: grabbing;
// }
// [data-scroll-direction='horizontal'] .c-scrollbar_thumb {
//   right: auto;
//   bottom: 0;
// }

// curtain effect
// :root {
//   --minh: 98vh;
//   --color1: #2d2d2d;
//   --color2: #fdfdfd;
// }

// .curtain {
//   /** create the "split" background **/
//   background-image: linear-gradient(
//     to bottom,
//     var(--color2) 50%,
//     var(--color1) 50%
//   );
// }

// /** add extra space to the bottom (need this for the "sticky" effect) **/
// .curtain::after {
//   content: '';
//   display: block;
//   min-height: var(--minh);
// }

// .invert {
//   /** make the content sticky **/
//   position: sticky;
//   top: 20px;

//   /** blend the content with the contrast effect **/
//   mix-blend-mode: difference;

//   /** center the content **/
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   /** set the minimum height of the section **/
//   min-height: var(--minh);
// }
