.embed-container {
  display: flex;
  justify-content: center;
  height: 90vh;
  padding-top: 6rem;
  /* background-color: black; */
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
}
